<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.ssm.chapter5.mapper2.User2Mapper">
    <resultMap id="userMapper" type="com.learn.ssm.chapter5.pojo2.User2">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="real_name" property="realName"/>
        <result column="mobile" property="mobile"/>
        <result column="email" property="email"/>
        <result column="position" property="position"/>
        <result column="note" property="note"/>
        <result column="sex" property="sex" typeHandler="com.learn.ssm.chapter5.handler.SexEnumHandler"/>
        <collection property="roleList" column="id" fetchType="lazy"
                    select="com.learn.ssm.chapter5.mapper2.Role2Mapper.findRoleByUserId"/>
    </resultMap>

    <select id="getUser" parameterType="long" resultMap="userMapper">
        select id,user_name,real_name,SEX,email,note from t_user where id =#{id}
    </select>
    <select id="findUserByRoleId" parameterType="long" resultMap="userMapper">
        select u.id,u.user_name,u.email,u.real_name,u.SEX,u.note,u.mobile
        from t_user_role  ur,t_user u where ur.user_id=u.id  and ur.role_id =#{roleId}
    </select>
</mapper>