<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.ssm.chapter4.mapper.TestFileMapper">
    <resultMap id="fileMapper" type="com.learn.ssm.chapter4.pojo.TestFile">
        <id property="id" column="id"/>
        <result property="content" column="content" typeHandler="org.apache.ibatis.type.BlobInputStreamTypeHandler"/>
    </resultMap>
    <select id="getFileById" resultMap="fileMapper">
        select id,content from t_file where id = #{id}
    </select>
    <insert id="insertFile" parameterType="com.learn.ssm.chapter4.pojo.TestFile">
        insert into t_file(content) value(#{content})
    </insert>
</mapper>